{% extends "base.html" %}

{% block content %}
<div align="center">
    <h1> Scan a Picksheet!</h1>
    <form method="post">
        <table>
            <tr>
                <td><label for="wave_number">Pick List:</label></td>
            </tr>
            <tr>
                <td><input type="text" name="wave_number" autofocus="autofocus" value=""></td>
            </tr>
            <tr>
                <td><label for="pick_quantity">Pick Quantity:</label></td>
            </tr>
            <tr>
                <td><input type="text" name="pick_quantity" value=""/></td>
            </tr>
            <span class="error">{{long_pick_error}}</span><br>
            <span class="error">{{short_pick_error}}</span><br>
            <span class="error">{{pick_quantity_error}}</span><br>
        </table>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}