{% extends "base.html" %}

{% block content %}
<div align="center">
    <h1> Scan a Picksheet!</h1>
    <form method="post">
        <table>
            <span class="error">{{long_pick_error}}</span>
            <span class="error">{{short_pick_error}}</span>
            <tr>
                <td><label for="wave_number">Pick List:</label></td>
            </tr>
            <tr>
                <td><input type="text" name="wave_number" value=""/></td>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form>
</div>


{% endblock %}